#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        haptic_key: haptic_key {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_tap &haptic>
                , <&macro_param_1to1>
                , <&macro_press &kp MACRO_PLACEHOLDER>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     Z     |     M     |     K     |
            // |     A     |     B     |     C     |
            // |     D     |     E     |     F     |
            bindings = <
                &haptic_key Z    &haptic_key M
                &haptic_key A
            >;
        };
    };
 };
